.formcamp{
    display: flex;
    flex-direction: column;
}

.formcamp label{
    color: #222;
    font-weight: 800;
}

.formcamp input{
    outline: none;
    border: none;
    margin-bottom: 1rem;
    padding: 0.4rem;
}

.formcamp input::placeholder{
    color: #222222aa;
}