.submit button{
    background-color: #222;
    color: #f2f2f2;
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    text-align: center;
    border: none;
    font-size: 1.05rem;
    font-weight: 500;
    transition: 0.1s;
}

.submit button:hover{
    background-color: #141414;
}